<%- if current_user %>
  <p>Welcome <%= @current_user.first_name %>!</p>
<%- end %>

<h3> Recent Flits</h3>
<ul>
  <%- @flits.each do |flit| %>
    <%= render :partial => 'flits/flit', :locals => {:flit => flit} %>
  <%- end %>
</ul>